
        <span class="example-spacer"></span>
        <div fxLayout="row wrap" f1q  xLayoutAlign="end center" style="padding: 2%" >
            <button mat-raised-button (click)="getAgendamentos()"fxLayoutAlign="end center"><mat-icon>update</mat-icon>Atualizar</button>
        </div>
        
        <div fxLayout="row wrap" f1q  xLayoutAlign="start center" style="padding: 2%" >
            
            <ng-container *ngFor="let agenda of agendamento" style="margin: 0.5%;">
                <mat-card class="example-card"
                fxFlex="0 1 calc(33.3% - 11px)"
                fxFlex.lt-md="0 1 calc(50% - 11px)"
                fxFlex.lt-sm="100%"
                >
                
                    <mat-card-title class="mat-card-title-agendamento" >
                            <div class="row">
                                <p>
                                    <span style="font-size: 0.9rem;" fxFlex="70" fxLayoutAlign="start center">{{agenda.nome}}</span>
                                    <span fxFlex="5"></span>
                                    <span style="font-size: 0.7rem;" fxFlex="70" fxLayoutAlign="end center">Matricula: {{agenda.matricula}}</span>
                                    <span fxFlex="5"></span>
                                    <span style="font-size: 0.7rem;" fxFlex="25" fxLayoutAlign="end center">Data: {{agenda.data}}</span>
                                </p>
                            </div>
                    </mat-card-title>
                    <mat-card-content style="padding-left: 15px; padding-right: 15px;margin-bottom: 0%;">
                        <span style="font-size: 0.8rem;">Curso: </span>
                          <p style="font-size: 0.7rem;">
                             {{agenda.curso}}
                          </p>
                          <span fxFlex="5"></span>
                          <span style="font-size: 0.8rem;">Assunto: </span>
                        <p style="font-size: 0.7rem;">
                             {{agenda.assunto}}
                        </p>
                          
                        </mat-card-content>
                        <mat-card-content fxLayoutAlign="end center">
                            
                            <span fxFlex="5"></span>
                            <a routerLink="/agendamento/{{ agenda.id }}">
                                <button mat-raised-button color="primary" style="margin-bottom: 10px; margin-right: 10px;"><mat-icon>edit</mat-icon></button>
                            </a>
                            <button mat-raised-button color="warn" style="margin-bottom: 10px;" (click)="deleteAgendamentos(agenda.id)"><mat-icon>delete</mat-icon></button>
                            <span fxFlex="5"></span>
                            
                            
                        </mat-card-content>
                </mat-card>
            </ng-container>
        </div>