<mat-card>
    <mat-card-title> Alugar Livro</mat-card-title>
    <form class="example-form" [formGroup]="agendamentoForm">
        <mat-form-field class="example-full-width">
            <mat-label>Nome do Aluno</mat-label>
            <input matInput 
            placeholder="Digite seu nome"
            formControlName="nome"
            [ngModel]="agendamento.nome"
            name="nome">
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>Curso</mat-label>
            <input matInput 
            placeholder="Digite seu curso"
            formControlName="curso"
            [ngModel]="agendamento.curso"
            name="curso">
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>Matricula</mat-label>
            <input matInput 
            placeholder="Digite sua matricula"
            formControlName="matricula"
            name="matricula"
            [ngModel]="agendamento.matricula"
            type="number"
            maxlength="12"
            >
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Assunto</mat-label>
            <input matInput 
            placeholder="Digite o assunto"
            [ngModel]="agendamento.assunto"
            formControlName="assunto"
            name="assunto"
            >
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Data do Agendamento</mat-label>
            <input matInput 
            formControlName="data"
            [ngModel]="agendamento.data"
            name="data"
            type="date">
        </mat-form-field>
    </form>
    <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="editAgendamento(agendamento.id)">Salvar</button>
    <button mat-raised-button (click)="cancel()">Cancelar</button>
    </div>
</mat-card>
